body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  font-size: 562.5%;
  color: #00b8a9;
  /*100% means 16px , 900/16*100 = 562.5% = 5.625rem */
  margin : 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  /* margin: 0 auto 0 auto; */
  /* width: 20%; */
}

h2 {
  color: #00b8a9;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding: 10px;
  margin: 0;
}

h3 {
  color: #00b8a9;
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  margin: 100px 0;
}
.bottom-container{
  background-color: #fcf8ec;
  padding :50px 0 20px;
}
.intro{
  width: 30%;
  margin: auto;
}
.top-cloud {
  width: 200px;
  position: absolute;
  right: 300px;
  top: 50px;
  display: none;
}

.bottom-cloud {
  position: absolute;
  width: 200px;
  top: 200px;
  display: none;
  /* bottom: 400px; */
}

.mountain {
  width: 25%;
}

.profile-picture {
  width: 15%;
  /* float: left; */
  /* margin: 10px 10px 0px 10px; */
}
.profile{
  text-align: center;
  line-height: 2;
}
.skill-images {
  width: 20%;
  height: auto;
  float: left;
  margin: 10px;
  border-top-left-radius: 50% 50%;
border-top-right-radius: 50% 50%;
border-bottom-right-radius: 50% 50%;
border-bottom-left-radius: 50% 50%;
}
a{
  color: #11999e;

    margin: 20px 15px 20px 15px;
    text-decoration: none;
}
a:hover{
  color: #393e46;
}
p{
  line-height: 2;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}
.skill_row{
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
  background: #00b8a9;
  background-image: -webkit-linear-gradient(top, #00b8a9, #2980b9);
  background-image: -moz-linear-gradient(top, #00b8a9, #2980b9);
  background-image: -ms-linear-gradient(top, #00b8a9, #2980b9);
  background-image: -o-linear-gradient(top, #00b8a9, #2980b9);
  background-image: linear-gradient(to bottom, #00b8a9, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.copyright{
  color: #86aba1;
  font-size: 0.75rem;
  padding: 20px 0;
}
/* .desgin-para{
  clear:left;
} */
